<h1>Miembros de Mi Familia</h1>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Email</th>
                <th scope="col">Fecha Nacimiento</th>
                <th scope="col">Acciones</th>
            </thead>
            
<h1>Miembros de Mi Familia</h1>
             <td> {{p.nombre}} </td>
             <td> {{p.apellido}} </td>
             <td> {{p.email}} </td>
             <td> {{p.fecha_nacimiento}} </td>
                  {% url 'borrar' identificador=p.id as borrar_url %}
             <td>{% bootstrap_button "Borrar" size="sm" button_class="btn-danger" button_type="link" href=borrar_url %}</td>
                </tr>  